* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: rgb(240, 239, 239);
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.book-item {
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 7px;
  background-color: white;
  list-style: none;
}

.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.message.error {
  border-color: red;
  color: red;
  background: rgba(255, 0, 0, 0.144);
}
.uis-times-circle {
  color: red;
}

.list-container {
  padding: 0px;
}

.list-container li {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0px;
  border-radius: 3px;
}

li span {
  margin-right: 1rem;
}
